.carousel-section {
	height: calc(100% - #{$header-height});
	width: 100%;
	position: relative;
	carousel ul {
		height: 100%;
		width: 100%;
		overflow: hidden;
		li.carousel-item {
			position: absolute;
			top: 0;
			left: 0;
			height: 100%;
			width: 100%;
			display: none;
			background-size: cover;
			background-position: center center;
			.headline {
				color: white;
				font-size: 3em;
				text-shadow: 0 0 10px black;
				position: absolute;
				width: 100%;
				text-align: center;
				top: 50%;
				left: 50%;
				transform: translate(-50%,-50%);
			}
		}
	}
	.control-wrapper {
		width: 50%;
		height: 100%;
		position: absolute;
		opacity: 0;
		z-index: 10;
		&.left {
			left: 0;
		}
		&.right {
			right: 0;
		}
		&:hover {
			opacity:1;
		}
		.control {
			height: 100%;
			width: 30px;
			background: $darkblue;
			position: absolute;
			opacity: .3;
			cursor: pointer;
			&:hover {
				opacity: .8;
			}
			.fa {
				color: white;
				position: absolute;
				top: 50%;
				left: 50%;
				transform: translate(-50%,-50%);
			}
			&.left-control {
				left: 0;
			}
			&.right-control {
				right: 0;
			}
		}
	}
}