.carousel-section {
	height: calc(100% - #{$header-height});
	width: 100%;
	position: relative;
	carousel ul {
		height: 100%;
		width: 100%;
		overflow: hidden;
		li.carousel-item {
			position: absolute;
			top: 0;
			left: 0;
			height: 100%;
			width: 100%;
			display: none;
			background-size: cover;
			background-position: center center;
		}
	}
	.control-wrapper {
		width: 50%;
		height: 100%;
		position: absolute;
		opacity: 0;
		z-index: 10;
		&.left {
			left: 0;
		}
		&.right {
			right: 0;
		}
		&:hover {
			opacity:1;
		}
		.control {
			height: 100%;
			width: 30px;
			background: $darkblue;
			position: absolute;
			opacity: .3;
			cursor: pointer;
			&:hover {
				opacity: .8;
			}
			.fa {
				color: white;
				position: absolute;
				top: 50%;
				left: 50%;
				transform: translate(-50%,-50%);
			}
			&.left-control {
				left: 0;
			}
			&.right-control {
				right: 0;
			}
		}
	}
	
	.search-box {
		position: absolute;
		bottom: 20%;
		left: 50%;
		transform: translateX(-50%);
		z-index: 10;
		width: 45%;
		min-width: 500px;
		#location-search-form {
			border-radius: 25px;
			overflow: hidden;
			input {
				padding: 10px;
				border: none;
				outline: none!important;
				font-size: 1.1em;
				&[type="text"] {
					width: 75%;
				}
				&[type="submit"] {
					width: 25%;
					background: $darkblue;
					color: white;
					text-transform: uppercase;
				}
			}
		}
		.predictive-box {
			display: none;
			position: absolute;
			background: white;
			border: 1px solid;
			color: $darkblue;
			border-radius: 5px;
			width: 100%;
			margin-top: 10px;
			li {
				padding-left: 10px;
				border-bottom: 1px solid lightgrey;
			}
		}
	}
	
}