$darkgrey: #2a2a2a;
$darkblue: #2e2d58;
$header-height: 35px;

* {
	box-sizing: border-box;
}

body {
	height: 100vh;
	width: 100%;
	padding: 0;
	margin: 0;
	font-family: 'Helvetica Neue';
}

#header {
	width: 100%;
	padding: 5px;
	border-bottom: 3px solid $darkblue;
	a {
		display: inline-block;
		height: $header-height;
		img {
			height: 100%;
			width: auto;
		}
	}
}

ul {
	list-style: none;
	padding: 0;
	margin: 0;
	li {
		margin: 0;
		padding: 0;
	}
}


@import 'components/carousel';
@import 'components/results-section';
@import 'components/search-area';